/* MOBILE */
@media only screen and (max-width: 1079px) and (orientation: landscape)
{
    .info
    {
        position: absolute;

        width: 40%;

        background-color: #c9c9ff;
    }

    .work-progress
    {
        position: absolute;

        width: 60%;
        height: 100%;
        margin-left: 40%;

        text-align: center;
    }

    .wave-0
    {
        position: absolute;
    }

    .waveo-0
    {
        width: 0;
        height: 0;
    }

    .wave-1
    {
        position: absolute;
    }

    .waveo-1
    {
        width: 0;
        height: 0;
    }

    .wave-2
    {
        position: absolute;
    }

    .waveo-2
    {
        width: 0;
        height: 0;
    }
}
@media only screen and (max-height: 890px) and (orientation: landscape)
{
    .info
    {
        position: absolute;

        overflow-y: scroll;
    }
    .work-progress
    {
        position: absolute;

        height: 100%;

        text-align: center;
    }

    .wave-0
    {
        position: absolute;
    }

    .waveo-0
    {
        width: 0;
        height: 0;
    }

    .wave-1
    {
        position: absolute;
    }

    .waveo-1
    {
        width: 0;
        height: 0;
    }

    .wave-2
    {
        position: absolute;
    }

    .waveo-2
    {
        width: 0;
        height: 0;
    }
}
@media only screen and (max-width: 1079px) and (orientation: portrait)
{
    .info
    {
        position: relative;

        overflow-y: scroll;
    }
    .work-progress
    {
        position: relative;

        width: 100%;
        height: 100%;

        text-align: center;

        background-color: #c9c9ff;
    }

    .wave-0
    {
        position: absolute;
    }

    .waveo-0
    {
        width: 0;
        height: 0;
    }

    .wave-1
    {
        position: absolute;
    }

    .waveo-1
    {
        width: 0;
        height: 0;
    }

    .wave-2
    {
        position: absolute;
    }

    .waveo-2
    {
        width: 0;
        height: 0;
    }
}
/* PC */
@media only screen and (min-height: 890px) and (orientation: landscape)
           ,screen and (min-width: 1080px) and (orientation: landscape)
{
    .info
    {
        position: absolute;

        width: 30%;
    }
    .work-progress
    {
        position: absolute;

        width: 70%;
        height: 100%;
        margin-left: 30%;

        text-align: center;
    }

    .info-color
    {
        position: absolute;

        display: block;

        width: 23%;
        height: 100%;

        background-color: #eea990;/*#eea990;*/
    }

    .wave-0
    {
        position: absolute;

        display: block;

        width: auto;
        height: 100%;
        margin-left: 23%;

        stroke: none;
        fill: #eea990;
    }

    .waveo-0
    {
        width: 100%;
        height: 100%;
    }

    .wave-1
    {
        position: absolute;

        display: block;

        width: auto;
        height: 100%;
        margin-left: 26%;

        opacity: .9;

        stroke: none;
        fill: #f5cbbc;
    }

    .waveo-1
    {
        width: 100%;
        height: 100%;
    }

    .wave-2
    {
        position: absolute;

        display: block;

        width: auto;
        height: 100%;
        margin-left: 29%;

        opacity: .7;

        stroke: none;
        fill: #f8dcd2;
    }

    .waveo-2
    {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (min-width: 1080px) and (orientation: portrait)
{
    .info
    {
        position: absolute;

        width: 30%;

        background-color: #eea990;
    }

    .work-progress
    {
        width: 70%;
        margin-left: 30%;
    }

    .wave-0
    {
        position: absolute;
    }

    .waveo-0
    {
        width: 0;
        height: 0;
    }

    .wave-1
    {
        position: absolute;
    }

    .waveo-1
    {
        width: 0;
        height: 0;
    }

    .wave-2
    {
        position: absolute;
    }

    .waveo-2
    {
        width: 0;
        height: 0;
    }
}

body
{
    margin: 0;

    background-image: url('../img/bg.png');
}

footer
{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 3%;

    background-color: #a990ee;
}

::before,
::after,
input,
button,
textarea,
select,
input[type='file']
{
    font-family: monospace !important;
}

.info::-webkit-scrollbar
{
    display: none;  /* Ocultar scroll */

    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.tittle
{
    color: white;
    /*background-color: #49796b;*/
}

.main-info
{
    margin: 5%;
}

.process-info
{
    height: 100%;
}

.subtittle
{
    color: #317873;
}

.work_text
{
    margin: 20% 0 0 0;

    color: #ff6f69;
    /*background-color: #49796b;*/
}

.work-img
{
    width: 60%;
}

.avatar_round
{
    width: 200px;

    border-radius: 50%;
}

.info
{
    height: 100%;

    align-content: flex-start;
}

.spotify
{
    width: 300px;
    height: 380px;
}

.social
{
    text-align: center;
}

.copy
{
    position: fixed;

    align-content: flex-end;
}

.icon-footer
{
    width: 1.5%;
    margin: .07%;
}
