:root
{
    --prim: rgba(35, 37, 38, 1);
    --waveo: rgba(35, 37, 38, .7);
    --wavet: rgba(35, 37, 38, .5);
    --title: rgba(245, 240, 90, 1);
    --foot: rgba(245, 229, 105, .9);
    --addp: rgba(255, 239, 180, 1);
    --vegan: #7d7;
}

body
{
    font-family: monospace !important;
    font-size: 1.5vh;

    margin: 0;
}

a
{
    text-decoration: none;
}

.tittle-style
{
    font-size: 10vh;

    text-shadow: -1px -1px 0 var(--foot), 1px -1px 0 var(--foot), -1px 1px 0 var(--foot), 1px 1px 0 var(--foot);
}

.tittle
{
    font-size: 5vh;

    color: var(--title);
}

.info
{
    position: absolute;

    overflow: hidden;

    width: 31.5vw;
    height: 100vh;

    color: white;
    background: var(--prim);
}

.avatar
{
    width: 20vh;

    border-radius: 1vh;
}

.main_info
{
    overflow: hidden;

    padding: 1vh;

    text-align: justify;
}

.spotify
{
    width: 35vh;
    height: 29vh;
    margin-top: 1vh;
}

.dance
{
    position: relative;

    width: 40vw;
}

.back
{
    position: absolute;
}

.back_foot
{
    position: fixed;
    bottom: 0;

    width: 8vw;
    height: 5vh;
    margin-left: 30vw;

    text-align: center;

    background: var(--foot);
}

.back_menu
{
    position: absolute;

    width: 16vw;
    height: 5vh;
    margin-left: 31.2vw;
    padding-left: 6vh;

    border-radius: .8vh;
    background: var(--prim);
}

.menu
{
    position: absolute;

    width: 16vw;
    height: 5vh;
    margin-left: 31.2vw;
    padding-left: 10vh;
}

.data
{
    position: absolute;

    width: 60vw;
    height: 92vh;
    margin-left: 35vw;
    padding-top: 5.1vh;
    padding-right: 1vh;
    padding-left: 4vw;

    transition: opacity 2s;
}

.data_index
{
    position: absolute;

    width: 60vw;
    height: 92vh;
    margin-left: 35vw;
    padding-top: 5.1vh;
    padding-right: 1vh;
    padding-left: 4vw;
}


.foot
{
    position: fixed;
    bottom: 0;

    width: 62vw;
    height: 5vh;
    margin-left: 38vw;

    text-align: center;

    background: var(--foot);
}

.waveo
{
    width: 100%;
    height: 100vh;
}

.wave_0
{
    position: absolute;

    width: auto;
    height: 100vh;
    margin-left: 26vw;

    stroke: none;
    fill: var(--prim);
}

.wave_1
{
    position: absolute;

    width: auto;
    height: 100vh;
    margin-left: 28vw;

    stroke: none;
    fill: var(--waveo);
}

.wave_2
{
    position: absolute;

    width: auto;
    height: 100vh;
    margin-left: 29.6vw;

    stroke: none;
    fill: var(--wavet);
}

.data-info
{
    overflow: auto;

    height: 89.7vh;

    text-align: center;
}

.video
{
    width: 45vw;
    height: 50vh;
    padding: 3vh;
}

.icon_footer
{
    width: 4.5vh;
    padding-top: .3vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

.icon_menu
{
    width: 4vh;
    padding-top: .5vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

::-webkit-scrollbar
{
    width: .8vh;
}

::-webkit-scrollbar-track
{
    border-radius: 1vh;
    box-shadow: inset 0 0 .4vh grey;
}

::-webkit-scrollbar-thumb
{
    border-radius: 1vh;
    background: var(--foot);
}

::-webkit-scrollbar-thumb:hover
{
    background: var(--foot);
}

.tooltiptext
{
    position: absolute;
    bottom: -90%;

    visibility: hidden;

    width: 13vh;
    margin-left: -11vh;
    padding: 1.3vh 0;

    transition: opacity .2s;
    text-align: center;

    opacity: 0;
    color: #fff;
    border-radius: 5vh;
    background-color: #555;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;

    opacity: 1;
}


.github_stats
{
    width: 45vh;

    border-radius: 5vh;
    background-color: rgba(51, 51, 89, .9);
}
