body
{
    font-family: monospace !important;
    font-size: 1.5vh;

    margin: 0;

    background-image: url('../img/bg.png');
}

a
{
    text-decoration: none;
}

.info
{
    position: absolute;

    overflow: auto;

    width: 31.5%;
    height: 100%;
    margin-right: 68.5%;

    text-align: center;

    background: rgba(238, 169, 144, 1);
}

.avatar_round
{
    width: 200px;

    border-radius: 50%;
}

.main_info
{
    padding: 1vh;

    text-align: justify;
}

.spotify
{
    width: 50vh;
    height: 47vh;
}

.back
{
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(238, 169, 144, .2);
}


.back_foot
{
    position: fixed;
    bottom: 0;

    width: 65%;
    height: 5vh;
    margin-left: 35%;

    text-align: center;

    background: rgba(245, 229, 105, .7);
}

.back_menu
{
    position: absolute;

    width: 13.8%;
    height: 5vh;
    margin-left: 30%;
    padding-left: 6%;

    border-radius: 1vh;
    background: rgba(166, 110, 202, 1);
}

.data
{
    position: absolute;

    width: 60%;
    height: 92%;
    margin-left: 35%;
    padding-top: 4%;
    padding-right: 1%;
    padding-left: 4%;
}

.menu
{
    position: absolute;

    width: 20%;
    height: 5%;
    margin-left: 30%;
    padding-left: 6%;
}


.foot
{
    position: fixed;
    bottom: 0;

    width: 65%;
    height: 5%;
    margin-left: 35%;

    text-align: center;
}

.wave_0
{
    position: absolute;

    width: auto;
    height: 100%;
    margin-left: 26%;

    stroke: none;
    fill: rgba(238, 169, 144, 1);
}

.waveo_0
{
    width: 100%;
    height: 100%;
}

.wave_1
{
    position: absolute;

    width: auto;
    height: 100%;
    margin-left: 28%;

    stroke: none;
    fill: rgba(245, 203, 188, .9);
}

.waveo_1
{
    width: 100%;
    height: 100%;
}

.wave_2
{
    position: absolute;

    width: auto;
    height: 100%;
    margin-left: 29.6%;

    stroke: none;
    fill: rgba(248, 220, 210, .7);
}

.waveo_2
{
    width: 100%;
    height: 100%;
}

.data-info
{
    overflow: auto;

    height: 94%;

    text-align: center;
}

.video
{
    width: 75%;
    height: 50%;
    padding: 3%;
}

.icon_footer
{
    width: 4.5vh;
    padding-top: .3vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

.icon_menu
{
    width: 4vh;
    padding-top: .5vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

::-webkit-scrollbar
{
    width: .8vh;
}

::-webkit-scrollbar-track
{
    border-radius: 1vh;
    box-shadow: inset 0 0 .4vh grey;
}

::-webkit-scrollbar-thumb
{
    border-radius: 1vh;
    background: rgba(245, 229, 105, .5);
}

::-webkit-scrollbar-thumb:hover
{
    background: rgba(245, 229, 105, .9);
}

.tooltiptext
{
    position: absolute;
    bottom: -90%;

    visibility: hidden;

    width: 13vh;
    margin-left: -11vh;
    padding: 1.3vh 0;

    transition: opacity .2s;
    text-align: center;

    opacity: 0;
    color: #fff;
    border-radius: 5vh;
    background-color: #555;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;

    opacity: 1;
}
