<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <title>Rhydor</title>
  </head>
  <body>
    <!-- BACKGROUND COLORS-->
    <div class="back">
    </div>
    <div class="back_foot">
    </div>
    <div class="menu">
      MENU EN PROCESO...
    </div>
    <!-- WAVES LEFT SIDE -->
    <div class="wave_2">
      <svg class="waveo_2" viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M38.94,-0.48 C31.04,58.70 91.98,98.19 46.27,151.47 L0.00,150.00 L0.00,0.00 Z"></path>
      </svg>
    </div>
    <div class="wave_1">
      <svg class="waveo_1" viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M38.94,-0.48 C31.04,58.70 91.98,98.19 46.27,151.47 L0.00,150.00 L0.00,0.00 Z"></path>
      </svg>
    </div>
    <div class="wave_0">
      <svg class="waveo_0" viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M38.94,-0.48 C31.04,58.70 91.98,98.19 46.27,151.47 L0.00,150.00 L0.00,0.00 Z"></path>
      </svg>
    </div>
    <!-- GENERAL INFO LEFT SIDE -->
    <div class="info">
      <h1>BASIC INFO</h1>
    </div>
    <!-- DATA INFO RIGHT SIDE -->
    <div class="data">
      <div class="data-info">
        <h1>Web en proceso...</h1>
        <iframe class="video" src="https://www.youtube.com/embed/LnJc80xTNa0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/VvxfEsvr3e8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="foot">
      <a href="https://www.github.com/Rhydor" target="_blank">
        <img class="icon_footer" src="./icon/github.svg" alt="Rhydor's github">
      </a>
    </div>
  </body>
</html>
