


<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <link rel="icon" href="./icon/blockchain.svg">
    <title>Rhydor</title>
  </head>
  <body>
    <!-- Right Content -->
    <div class="work-progress">
      <h1 class="work_text"> En proceso...</h1>
      <img class="work-img" src="./img/working.gif" alt="trabajando para mejorar">
      <br>
    </div>
    <!-- Info Backgorund -->
    <div class="wave-2">
      <svg class="waveo-2" viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M38.94,-0.48 C31.04,58.70 91.98,98.19 46.27,151.47 L0.00,150.00 L0.00,0.00 Z"></path>
      </svg>
    </div>
    <div class="wave-1">
      <svg class="waveo-1" viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M38.94,-0.48 C31.04,58.70 91.98,98.19 46.27,151.47 L0.00,150.00 L0.00,0.00 Z"></path>
      </svg>
    </div>
    <div class="wave-0">
      <svg class="waveo-0" viewBox="0 0 500 150" preserveAspectRatio="none">
        <path d="M38.94,-0.48 C31.04,58.70 91.98,98.19 46.27,151.47 L0.00,150.00 L0.00,0.00 Z"></path>
      </svg>
    </div>
    <div class="info-color">
    </div>
    <!-- Info Content -->
    <div class="info">
      <div align="center">
        <h1 class="tittle">Juan Ruiz</h1>
        <img class="avatar_round" src="./img/avatar.png" alt="my avatar">
      </div>
      <main class="main-info">
        <h2 class="subtittle">SOBRE MI</h2>
        <p>Vegano, amante de la musica y el software en especial de la tecnologia blockchain, actualmente estudiando en Misiontic 2022 y por mi cuenta. Enfocado en Python, Java, lenguajes Web[Html, CSS y Javascript] y Corda.</p>
        <p><b>Espero en un futuro no muy lejano dedicarme al desarrollo de tecnologias basadas en blockchain.</b></p>
    </br>
      <div align="center">
        <iframe class="spotify" src="https://open.spotify.com/embed/playlist/5rMDYOWxqUvp77GHkSGNtz" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      </main>
    </div>
    <!-- Footer Content -->
    <footer>
      <div class="social">
        <a href="../index.html">
          <img class="icon_footer" src="./icon/github.svg" alt="Rhydor's github">
        </a>
      </div>
    </footer>
  </body>
</html>
