body{
  margin: 0;
    background-image: url('./img/bg.png');
}

.tittle{
  color: #49796b;
}

.subtittle{
  color: #317873;
}

.work_text{
  color: #ff6f69;
  background-color: #49796b;
}

main{
  margin: 5%;
}

footer{
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}
p{
  text-justify: auto;
}
.avatar_round{
  width: 200px;
  border-radius: 50%;
}

.info{
  font-family: Mono;
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #eea990;
  overflow-y: scroll;
}

.work_progress{
  font-family: Mono;
  position: absolute;
  text-align: center;
  margin-left: 25%;
  width: 75%;
  height: 100%;
}

.spotify{
   width: 300px;
   height: 380px;
}
